<?xml version="1.0"?>
<robot name="lio" xmlns:xacro="http://tixiaoshan.github.io/">

  <link name="base_link"/>

  <link name="hesai_ot128_top_base_link"/>
  <joint name="lidar_joint" type="fixed">
    <parent link="base_link"/>
    <child link="hesai_ot128_top_base_link"/>
    <origin xyz="1.495 0.0 1.806530" rpy="-0.009587 0.017595 0.0"/>
  </joint>

</robot>
